.App {
  text-align: center;
}

body {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#000000));
  background: linear-gradient(to bottom, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  padding: 0px;
  margin: 0px;
  color: white;
  height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
}

.main .title h1 {
  width: 100%;
  font-weight: 700;
  font-size: 3em;
  line-height: 1.25em;
  text-transform: uppercase;
  color: white;
  margin: 10px 0px;
}

.main h2 {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: transparent;
  border: 1px solid #ffffff;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  padding: 10px;
  border-radius: 7px;
  background-color: #333333;
  margin: 10px 0px;
}

.main .request {
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  background-color: lightgray;
}

.main img {
  width: 320px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 7px;
}

.main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 25px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main .form input {
  height: 50px;
  width: 350px;
  border-radius: 7px;
  font-size: 24px;
  margin-bottom: 20px;
}

.main .form button {
  border-radius: 7px;
  padding: 10px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.messageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 200px;
  max-height: 450px;
  padding: 0px 50px;
}

.messageBox::-webkit-scrollbar {
  display: none;
}

.gifText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/*# sourceMappingURL=App.css.map */